venv
venv/
/venv
/venv/
excel_data
/excel_data
/excel_data/
excel_data/
.env
/.env
env
.env/

main.spec
/main.spec

.venv
.venv/
/.venv
/.venv/

build
/build
/build/
build/

dist
/dist
/dist/
dist/

/raw_activity_data
raw_activity_data
raw_activity_data/
/raw_activity_data/

/__pycache__
/__pycache__/
__pycache__/
__pycache__
*.spec